<header class="w-100 position-sticky top-0 py-3 px-3 bg-black m-auto align-items-center row">
    <div class="col-10 position-sticky">
        <i class="bi bi-search text-primary "></i>
        <input class="  align-items-center text-bg-primary" type="search" placeholder="Busqueda">
    </div>
    <nav class="bg-dark active" [class.active]="showNav">
        <i class="bi bi-person text-light px-1 py-5 mb-2 text-decoration-none mt-4"></i>
        <a class="text-white py-4" >Nombre   </a>
        <a class="text-white d-block mt-2 ">Tipo de tareas:</a>
        <a class="text-white d-block mt-1  text-decoration-none">Trabajo</a>
        <a class="text-white d-block  text-decoration-none">Estudio</a>
        <a class="text-white d-block  text-decoration-none">Familia</a>
        <a class="text-white d-block  text-decoration-none">Deporte</a>
        <a class="text-white d-block  text-decoration-none">Otros</a>
        <button type="button" class="btn btn-light position-absolute" (click)="toggleNav()">
            <i class="bi bi-x-lg"></i>
        </button>
    </nav>
    <div class="col-2 text-end">
        <button type="button" class="btn btn-light align-items-center" (click)="toggleNav()">
            <i class=" bi bi-list text-primary"></i>
        </button>
        <button type="button" class="btn btn-light align-items-center" (click)="goPagLogin()">
            <i class=" bi bi-x-square text-primary"></i>
        </button>
    </div>
</header>
