<div  class="ms-3" >
<button type="button" class=" btn btn-transparent btn-lg mt-4" (click)="(volverPrincipal())" >
    <i class=" bi bi-arrow-left text-primary decoration-underline" ></i>
</button> <br>
<h1 class=" text-center mt-5 text-decoration-underline link-underline-secondary fs-1">Nueva Tarea</h1>
<div class="text-start px-4">
    <form class="mt-4">
        <label class="text-decoration-underline link-underline-primary fs-4 mt-4"> Nombre:</label><br>
        <input type="text" placeholder="Escriba el nombre"><br>
        <label class="text-decoration-underline link-underline-primary fs-4 mt-4">Descripcion:</label><br>
        <textarea class=""></textarea><br>
        <label class="text-decoration-underline link-underline-primary fs-4 mt-4"> Fecha:</label><br>
        <input type="date" >

    </form>

    <form >
        <label class="text-decoration-underline link-underline-primary fs-4 mt-4"> Tipo: </label><br>
        <label>Trabajo:</label>
        <input type="checkbox"><br>
        <label>Estudio:</label>
        <input type="checkbox"><br>
        <label>Familia:</label>
        <input type="checkbox"><br>
        <label>Deporte:</label>
        <input type="checkbox"><br>
        <label>Otro:</label>
        <input type="checkbox"><br>
    </form>
    <button class=" btn btn-primary position-relative  btn-lg" (click)="(guardar())" >
    <i class=" bi  text-light decoration-underline align-items-center " >Guardar</i>
    </button>

</div>
</div>