
<div class=" col 8 text-center">
    <p class="text-decoration-underline mt-5 h1" >Nueva tarea
    <button type="button" class=" btn btn-transparent btn-lg" (click)="goPagNewTarea()" >
    <i class=" bi bi-plus-lg text-primary decoration-underline" ></i>
    </button>
    </p>
</div>
<div>
    <p class="text-decoration-underline px-2"><strong> ACTIVIDADES PROXIMAS: </strong></p>
</div>
<div id="Spans" class="text-center px-5 mt-3">
<span>
        <p class="border border-2 border-primary  mt-5 rounded">
    “Nombre de la tarea”
    Fecha: 27 / 10
    tipo: Trabajo
        </p>

        <p class="border border-2 border-primary mt-5 rounded">
    “Nombre de la tarea”
    Fecha: 30 / 11
    tipo: Deporte
        </p>

        <p class="border border-2 border-primary mt-5 rounded">
    “Nombre de la tarea”
    Fecha: 13 / 12
    tipo: Familia
        </p>
    <p class="border border-2 border-primary mt-5 rounded">
    “Nombre de la tarea”
    Fecha: 13 / 12
    tipo: Estudio
        </p>
</span>



</div>
